services:

  nominatim_ci:
    image: mediagis/nominatim:5.1
    volumes:
      - nominatim-data-ci:/var/lib/postgresql/15/main
    environment:
      PBF_URL: https://download.geofabrik.de/europe/monaco-latest.osm.pbf
      IMPORT: 1

  osrm_ci:
    image: osrm/osrm-backend
    container_name: osrm_ci
    command: >
      /bin/bash -c "
        wget -O /data/monaco.osm.pbf https://download.geofabrik.de/europe/monaco-latest.osm.pbf;

        osrm-extract -p /opt/car.lua /data/monaco.osm.pbf;
        osrm-partition /data/monaco.osrm;
        osrm-customize /data/monaco.osrm;

        osrm-routed --algorithm mld /data/monaco.osrm"

  mytravelapp_ci:
    build:
      context: .
      dockerfile: Dockerfile
    image: mytravelapp_ci:latest
    working_dir: /app
    volumes:
      - .:/app:cached
    depends_on:
      - osrm_ci
      - nominatim_ci
    environment:
      NODE_ENV: test
      OSRM_URL: http://osrm_ci:5000
      NOMINATIM_URL: http://nominatim_ci:8080
    command: tail -f /dev/null