services:
  nominatim_ci:
    image: mitchellbird5/nominatim-test-data:latest
    container_name: nominatim_ci

  osrm_ci:
    image: osrm/osrm-backend:latest
    container_name: osrm_ci
    volumes:
      - ./tests/integration/data:/data/osrm
    command: |
      sh -c "
        osrm-extract -p /opt/car.lua /data/osrm/test.osm.pbf &&
        osrm-partition /data/osrm/test.osrm &&
        osrm-customize /data/osrm/test.osrm &&
        osrm-routed --algorithm mld /data/osrm/test.osrm
      "
      

  mytravelapp_ci:
    build: .
    container_name: mytravelapp_ci
    volumes:
      - .:/app:cached
      - node-modules:/app/node_modules
    depends_on:
      - osrm_ci
      - nominatim_ci
    environment:
      NODE_ENV: test
      OSRM_URL: http://osrm_ci:5000
      NOMINATIM_URL: http://nominatim_ci:8080

volumes:
  node-modules: