services:
  routecause-backend:
    container_name: routecause-backend
    image: routecause/backend:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "5000:5000"
    environment:
      APP_ENV: production
      PORT: 5000

      # External routing/geocoding APIs
      ROUTER_URL: https://api.openrouteservice.org/v2/directions/driving-car
      GEOCODE_URL: https://api.openrouteservice.org/geocode
      ORS_API_KEY: ${ORS_API_KEY}

      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      
      FRONTEND_URL: ${FRONTEND_URL}

    networks:
      - routecause-network

    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  routecause-network:
    external: true
