services:
  nominatim_ci:
    image: mediagis/nominatim:5.1
    container_name: nominatim_ci
    volumes:
      - ./tests/integration/nominatim-data:/var/lib/postgresql/16/main
      - ./tests/integration/data:/data

  osrm_ci:
    image: osrm/osrm-backend:latest
    container_name: osrm_ci
    volumes:
      - ./tests/integration/osrm-data:/data/osrm
    command: osrm-routed --algorithm mld /data/osrm/test.osrm

  mytravelapp_ci:
    build:
      context: .
      dockerfile: Dockerfile
    image: mytravelapp_ci:latest
    working_dir: /app
    depends_on:
      - osrm_ci
      - nominatim_ci
    environment:
      NODE_ENV: test
      OSRM_URL: http://osrm_ci:5000
      NOMINATIM_URL: http://nominatim_ci:8080