services:
  nominatim_ci:
    image: mitchellbird5/nominatim-test-data:latest
    container_name: nominatim_ci
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- 'http://localhost:8080/search?q=Casino+de+Monte-Carlo' || exit 1"]
      interval: 5s
      retries: 20
      timeout: 300s

  osrm_ci:
    image: osrm/osrm-backend:latest
    container_name: osrm_ci
    volumes:
      - ./tests/integration/data:/data/osrm
    command: osrm-routed --algorithm mld /data/osrm/test.osrm
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5000/health || exit 1"]
      interval: 5s
      retries: 20
      timeout: 300s
      

  mytravelapp_ci:
    build:
      context: .
      dockerfile: Dockerfile
    image: mytravelapp_ci:latest
    depends_on:
      osrm_ci:
        condition: service_healthy
      nominatim_ci:
        condition: service_healthy
    environment:
      NODE_ENV: test
      OSRM_URL: http://osrm_ci:5000
      NOMINATIM_URL: http://nominatim_ci:8080