services:
  mytravelapp-dev:
    image: mytravelapp-dev:latest
    build: .
    volumes:
      - .:/app:cached
      - node-modules:/app/node_modules
      - osrm-data:/data/osrm
    # ports:
    #   - "3000:3000"
    depends_on:
      - osrm
    environment:
      OSRM_URL: http://osrm:5000
      NODE_ENV: development

  osrm:
    image: osrm/osrm-backend:latest
    container_name: osrm
    volumes:
      - osrm-data:/data/osrm
    working_dir: /data/osrm
    command: osrm-routed --algorithm mld /data/osrm/new-zealand-latest.osrm

volumes:
  node-modules:
  osrm-data: