services:

  emission_db_ci:
    image: postgres:16
    container_name: emission_db_ci
    volumes:
      - ./tests/data-ci:/docker-entrypoint-initdb.d
      - pgdata-ci:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "5432"

  drivezero-backend-ci:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    image: drivezero-backend-ci:latest
    working_dir: /app
    volumes:
      - .:/app:cached
    depends_on:
      emission_db_ci: 
        condition: service_started
    environment:
      NODE_ENV: production
      ROUTER_URL: https://api.openrouteservice.org/v2/directions/driving-car
      GEOCODE_URL: https://api.openrouteservice.org/geocode
      ORS_API_KEY: ${ORS_API_KEY}
      POSTGRES_HOST: emission_db_ci
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    command: tail -f /dev/null

volumes:
  nominatim-data-ci: {}
  pgdata-ci: