services:

  routecause-backend-ci:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: ci
    image: routecause-backend-ci:latest
    working_dir: /app
    environment:
      APP_ENV: production
      ROUTER_URL: https://api.openrouteservice.org/v2/directions/driving-car
      GEOCODE_URL: https://api.openrouteservice.org/geocode
      GEOSNAP_URL: https://api.openrouteservice.org/v2/snap/driving-car
      ORS_API_KEY: ${ORS_API_KEY}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_TABLE: ${POSTGRES_TABLE}
      FRONTEND_URL: ${FRONTEND_URL}
    command: tail -f /dev/null