services:
  routecause-backend-dev-live:
    container_name: routecause-backend-dev-live
    image: routecause/backend-dev-live:latest
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: development
    volumes:
      - .:/app:cached
    expose:
      - 5000
    environment:

      ROUTER_URL: https://api.openrouteservice.org/v2/directions/driving-car
      GEOCODE_URL: https://api.openrouteservice.org/geocode
      ORS_API_KEY: ${ORS_API_KEY}

      APP_ENV: production
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - routecause-network

volumes:
  node_modules:

networks:
  routecause-network:
    external: true