services:

  nominatim_ci:
    image: mediagis/nominatim:5.1
    volumes:
      - ./tests/integration/data/monaco.osm.pbf:/nominatim/data/monaco.osm.pbf
      - nominatim-data-ci:/var/lib/postgresql/15/main
    environment:
      PBF_PATH: /nominatim/data/monaco.osm.pbf
      IMPORT: 1

  osrm_ci:
    image: osrm/osrm-backend
    container_name: osrm_ci
    volumes:
      - ./tests/integration/data/monaco.osm.pbf:/data/monaco.osm.pbf:ro
    command: >
      /bin/bash -c "
        if [ ! -f /data/monaco.osrm ]; then
          osrm-extract -p /opt/car.lua /data/monaco.osm.pbf;
          osrm-partition /data/monaco.osrm;
          osrm-customize /data/monaco.osrm;
        fi
        osrm-routed --algorithm mld /data/monaco.osrm"

  mytravelapp_ci:
    build:
      context: .
      dockerfile: Dockerfile
    image: mytravelapp_ci:latest
    working_dir: /app
    volumes:
      - .:/app:cached
    depends_on:
      - osrm_ci
      - nominatim_ci
    environment:
      NODE_ENV: test
      OSRM_URL: http://osrm_ci:5000
      NOMINATIM_URL: http://nominatim_ci:8080
    command: tail -f /dev/null

volumes:
  nominatim-data-ci: {}