version: "3.9"
services:
  nominatim_ci:
    image: mitchellbird5/nominatim-monaco:latest
    container_name: nominatim_ci
    # no ports exposed

  osrm_ci:
    image: osrm/osrm-backend:latest
    container_name: osrm_ci
    command: osrm-routed --algorithm mld /data/osrm/new-zealand-latest.osrm
    # no ports exposed

  mytravelapp_ci:
    build: .
    container_name: mytravelapp_ci
    volumes:
      - .:/app:cached
      - node-modules:/app/node_modules
      - osrm-data:/data/osrm
    depends_on:
      - osrm_ci
      - nominatim_ci
    environment:
      NODE_ENV: test
      OSRM_URL: http://osrm_ci:5000
      NOMINATIM_URL: http://nominatim_ci:8080

volumes:
  node-modules:
  osrm-data:
