services:
  routecause-backend-dev:
    container_name: routecause-backend-dev
    image: routecause/backend-dev:latest
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: development
    volumes:
      - .:/app:cached
      - osrm-data:/data/osrm
      - node_modules:/app/node_modules
    expose:
      - 5000
    depends_on:
      - osrm
      - nominatim
    environment:
      PORT: 5000
      ROUTER_URL: http://osrm:5000
      GEOCODE_URL: http://nominatim:8080
      APP_ENV: development
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_TABLE: ${POSTGRES_TABLE}
      FRONTEND_URL: http://localhost:3000
    networks:
      - routecause-network

  osrm:
    image: osrm/osrm-backend:latest
    container_name: osrm
    volumes:
      - osrm-data:/data/osrm
    command: osrm-routed --algorithm mld /data/osrm/new-zealand-latest.osrm
    networks:
      - routecause-network

  nominatim:
    image: mediagis/nominatim:5.1
    container_name: nominatim
    volumes:
      - nominatim-data:/var/lib/postgresql/16/main
    environment:
      PBF_PATH: /var/lib/postgresql/16/main/new-zealand-latest.osm.pbf
      IMPORT: "0"
    networks:
      - routecause-network

volumes:
  osrm-data:
    external: true
    name: routecause_osrm-data
  nominatim-data:
    external: true
    name: routecause_nominatim-data
  node_modules:

networks:
  routecause-network:
    external: true