name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      ORS_API_KEY: ${{ secrets.ORS_API_KEY }}
      ROUTER_URL: https://api.openrouteservice.org/v2/directions/driving-car
      GEOCODE_URL: https://api.openrouteservice.org/geocode
      GEOSNAP_URL: https://api.openrouteservice.org/v2/snap/driving-car

      POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          
      - name: Build app
        run: npm run build || echo "No build step defined"

      - name: Start CI containers
        run: docker compose -f docker-compose.ci.yml up -d --remove-orphans

      - name: Run tests
        run: docker compose -f docker-compose.ci.yml exec -T routecause-backend-ci npx jest --verbose --runInBand

      - name: Tear down CI containers
        if: always()
        run: docker compose -f docker-compose.ci.yml down -v
